<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/jquery-highlighter/assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/jquery-highlighter/assets/application.css" />
	</head>
	<body>
		<div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li {% if page.name == 'home' %}class="active"{% endif %}>
                        <a href="/jquery-highlighter/index.html">Home</a>
                    </li>
                    <li {% if page.name == 'docs' %}class="active"{% endif %}>
                        <a href="/jquery-highlighter/docs.html">Documentation</a>
                    </li>
                    <li {% if page.name == 'examples' %}class="active"{% endif %}>
                        <a href="/jquery-highlighter/examples.html">Examples</a>
                    </li>
                </ul>
                <h3 class="muted">JQuery Highlighter</h3>
            </div>

            <hr/>

            {{ content }}

            <hr/>

            <div class="footer">

            </div>

        </div>
        <script type="text/javascript" src="/jquery-highlighter/assets/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/jquery-highlighter/assets/underscore-min.js"></script>
        <script type="text/javascript" src="/jquery-highlighter/assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/jquery-highlighter/assets/jquery-highlighter.js"></script>
        {% if page.js %}
            <script type="text/javascript" src="/jquery-highlighter/assets/{{ page.js }}"></script>
	    {% endif %}
    </body>
</html>